{% extends "common/bootstrap.twig" %}

{% block title %}
    {{ labels.customer_login_page_title }}
{% endblock %}

{% block more_css %}
    <link href="/assets/common/css/default.css" rel="stylesheet"/>
    <link href="/assets/producer/css/login.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

  <h1>Dit is de loginpagina voor de fotografen.</h1>

    {% include "common/snippets/language_bar.twig" %}

{% endblock %}