<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/fotoz</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <mapping class="com.pse.fotoz.dbal.entities.Customer"/>
        <mapping class="com.pse.fotoz.dbal.entities.Photographer"/>
        <mapping class="com.pse.fotoz.dbal.entities.Shop"/>
        <mapping class="com.pse.fotoz.dbal.entities.Picture"/>
        <mapping class="com.pse.fotoz.dbal.entities.CustomerAccount"/>
        <mapping class="com.pse.fotoz.dbal.entities.ProducerAccount"/>
        <mapping class="com.pse.fotoz.dbal.entities.PictureSession"/>        
        <mapping class="com.pse.fotoz.dbal.entities.Order"/>
        <mapping class="com.pse.fotoz.dbal.entities.OrderEntry"/>
        <mapping class="com.pse.fotoz.dbal.entities.ProductOption"/>
        <mapping class="com.pse.fotoz.dbal.entities.ProductType"/>
        <mapping class="com.pse.fotoz.dbal.entities.PictureSession"/>
        <mapping class="com.pse.fotoz.dbal.entities.ProductType" />
        
    </session-factory>
</hibernate-configuration>
