<div class="stretch language-bar">
    <a href="/app/lang/nl?redirect={{ page.redirect }}">
        <img src="/assets/common/img/flag-nl.png"/>
    </a>
    <a href="/app/lang/en?redirect={{ page.redirect }}">
        <img src="/assets/common/img/flag-uk.png"/>
    </a>
    <div style="clear:both;"></div>
</div>