{% extends "common/bootstrap.twig" %}

{% block title %}
    {{ labels.producer_login_page_title }}
{% endblock %}

{% block more_css %}
    <link href="/assets/common/css/default.css" rel="stylesheet"/>
    <link href="/assets/producer/css/login.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        
        <h1>Dit is de beveiligde producer panel pagina</h1>

        <c:url value="/logout_producer" var="logoutUrl" />

	<!-- csrt for log out-->
	<form action="${logoutUrl}" method="post" id="logoutForm">
	  <input type="hidden" 
		name="${_csrf.parameterName}"
		value="${_csrf.token}" />
	</form>
        
        <script>
		function formSubmit() {
			document.getElementById("logoutForm").submit();
		}
	</script>
        
    </div>
            
{% include "common/snippets/language_bar.twig" %}

{% endblock %}