<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        {% block meta %}
            <meta charset="utf-8">
        {% endblock %}
        
        <title>
            {% block title %}
            {% endblock %}
        </title>
        
            {% block css %}                
            {% endblock %}
        
            {% block js %}                
            {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>