{% extends "customers/shops/index.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                
                <p class="lead">
                    {{ labels.customer_account_sessions_yoursessions }}
                </p>
                
                <div class="list-group">
                    {% for session in sessions %}
                        <a href="/app/customers/shops/{{ session.shop.login }}/sessions/{{ session.id }}/" class="list-group-item">
                            {{ session.title }}
                        </a>
                    {% endfor %}
                </div>
                
            </div>

            <div class="col-md-9">
            {% block inner_content %}
                <p>
                    Hier moet nog iets komen, mensen!
                </p>
            {% endblock %}
            </div> 
        </div>
    </div>
{% endblock %}
