<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/app/producer/dashboard/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/app/photographers/shop/**" access="hasRole('ROLE_PHOTOGRAPHER')" />
        <logout logout-url="/logout" logout-success-url="/app/logout"/>
        <csrf disabled="true"/>
    </http>
    	
    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="authenticationProviderCustomers" />
        <authentication-provider ref="authenticationProviderPhotographers" />
        <authentication-provider ref="authenticationProviderProducer" />
    </authentication-manager>
        
    <beans:bean 
        id="authenticationProviderProducer" 
        class="com.pse.fotoz.helpers.Authentication.LoginProviderProducer">
    </beans:bean> 
    
    <beans:bean 
        id="authenticationProviderPhotographers" 
        class="com.pse.fotoz.helpers.Authentication.LoginProviderPhotographers">
    </beans:bean>
    
    <beans:bean 
        id="authenticationProviderCustomers" 
        class="com.pse.fotoz.helpers.Authentication.LoginProviderCustomers">
    </beans:bean>  

</beans:beans>
